<div class="container">
  <header class="navbar navbar-fixed-top header">
    <%= link_to "My Portfolio", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <% if logged_in? %>
          <li>
            <%= button_to 'ログアウト', logout_path, method: :delete %>
          </li>
        <% else %>
          <li><%= link_to "ログイン", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </header>
</div>
