<div class="container" style="padding: 0;">
  <header class="navbar navbar-fixed-top header">
    <% if current_user %>
      <%= link_to "My Portfolio", user_path(current_user), id: "logo", class: "navbar-brand", style: "margin-right: 10px; margin-top: 15px;" %>
    <% else %>
      <%= link_to "My Portfolio", root_path, id: "logo", class: "navbar-brand", style: "margin-right: 10px; margin-top: 15px; padding" %>
    <% end %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <% if logged_in? %>
          <li>
            <%= button_to 'ログアウト', logout_path, method: :delete, class: "custom-button", style: "margin: 10px 70px 10px 10px;" %>
          </li>
        <% else %>
          <li><%= link_to "ログイン", login_path, class: "custom-button", style: "margin: 10px 70px 10px 50px;" %></li>
        <% end %>
      </ul>
    </nav>
  </header>
</div>
